<div class="row">
    <h3 class="text-primary p-lg-4 pt-2 col-12">Grandchild Component</h3>
    <p class="lead">There is a message - @MessageForGrandChild</p>
    <p class="lead">Lucky Number - @LuckyNoForGrandChild</p>
</div>

@code {
    [CascadingParameter(Name = "Message")]
    public string? MessageForGrandChild { get; set; }
    [CascadingParameter(Name = "LuckyNumber")]
    public int LuckyNoForGrandChild { get; set; }
}
